# TOML file for generating the applecrate package with applecrate
# The version in this file will be updated by bump2version

app = "applecrate"
version = "0.1.8"
identifier = "org.rhettbull.applecrate"
license = "LICENSE"
install = [
    [
        "build/applecrate-0.1.8-{{ machine }}",
        "/usr/local/bin/applecrate",
    ],
]
pre_install = "scripts/preinstall.sh"
output = "dist/{{ app }}-{{ version }}-{{ machine }}-installer.pkg"
sign = "$DEVELOPER_ID_INSTALLER"
